<html>
  <head>
    <title>#{title}</title>
    style
      include ../static/style.css
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>
      | Get this gym membership for 1 rupee.
      </h1>
      <form action="/" id="contact" method="post">
      <label for="name"><input type="text" name="name" id="name" placeholder="Enter your name"></label>
      <label for="age"><input type="text" name="age" id="age" placeholder="Enter your age"></label>
      <label for="gender"><input type="text" name="gender" id="gender" placeholder="Enter your Gender"></label>
      <label for="address"><textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea></label>
      <label for="more"><textarea name="more" cols="30" rows="10" id="more" placeholder="More about you"></textarea></label>
      <button class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
